<!-- <form>
<p><input type="text" placeholder="Zip Code" ng-model="userSelection.userZip">
<input type="date" ng-model="yourDate"></p>
<p ng-model="userSelection.movieDate">{{yourDate | date : 'yyyy-MM-dd'}}</p>
<p><button ng-click="findMovie(userSelection)">Let's Go!!</button></p>
</form> -->

<form>
<p><input type="text" placeholder="Zip Code" ng-model="userSelection.userZip">
<input type="date" ng-model="yourDate">  <p ng-model="userSelection.movieDate">{{yourDate | date : 'yyyy-MM-dd'}}</p></p>
<p><button ng-click="findMovie(userSelection)">Let's Go!!</button></p>
</form>
